@media screen and (min-width: 200px) {
    %flex-between-center {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    %flex-center-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    %back-image {
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  