header {
    width: 100%;
    height: 155px;
    @include flex(flex, row, center, center);
    position: relative;
    background-color: white;
    z-index: 3;
}

nav {
    width: 1110px;
    height: 24px;
    @include flex(flex, row, space-between, center);
    position: relative;
    z-index: 3;
}

nav > a, nav > a > img {
    width: 196px;
    height: 24px;
    position: relative;
    z-index: 11;
}

.nav-list {
    width: 368px;
    height: 14px;
    @include flex(flex, row, space-between, center);   
}

.nav-links {
    position: relative;
}

.nav-links::after {
    content: "";
    display: block;
    @include absolute-el(unset, unset, 0px, unset);
    width: 100%;
    height: 1px;
    background: $black;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
}

.nav-links.white::after {
  background: white;
}

.nav-links:hover::after {
    transform: scale(1);
}

.mobile-nav-block, .menu-btn, .mobile-white-background {
    display: none;
}

@media screen and (max-width: 1200px) {
    nav {
        width: 647px;
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 96px;
    }

    nav {
        width: 100%;
        height: 27px;
        @include flex(flex, row, space-between, center);
    }
    
    nav > a {
        height: 27px;
        margin-left: 24px;
    }

    .nav-links {
        display: none;
      }
    
      .menu-btn {
        position: relative;
        z-index: 11;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        margin-right: 24px;
      }
      .menu-btn__burger {
        width: 20px;
        height: 3px;
        background: $black;
        transition: all 0.5s ease-in-out;
      }
      .menu-btn__burger::before,
      .menu-btn__burger::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 3px;
        background: $black;
        transition: all 0.5s ease-in-out;
      }
      .menu-btn__burger::before {
        transform: translateY(-7px);
      }
      .menu-btn__burger::after {
        transform: translateY(7px);
      }
      /* ANIMATION BURGER */
      .menu-btn.open .menu-btn__burger {
        transform: translateX(50px);
        background: transparent;
        box-shadow: none;
      }
      .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(-35px, 35px);
      }
      .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(-35px, -35px);
      }

      .mobile-nav-block.active {
          z-index: 1;
          background: rgba(0, 0, 0, 0.5);
          pointer-events: all;
      }
      
      .mobile-nav-block {
        width: 100%;
        height: 93vh;
        position: absolute;
        z-index: -8;
        top: 61px;
        display: block;
        transition: 0.3s ease-in-out;
        pointer-events: none;
      }

      .mobile-nav-list {
          background-color: black;
          height: 235px;
          @include flex(flex, column, space-evenly, flex-start);
          transition: 0.3s ease-in-out;
          transform: translateY(-235px);
          position: relative;
          z-index: -8;
          transition: 0.3s ease-in-out;
      }

      .mobile-nav-list.active {
        transform: translateY(0px);
        transition: 0.3s ease-in-out;
      }

      .nav-links-mobile {
          margin-left: 24px;
      }

      .mobile-white-background {
          display: block;
          position: absolute;
          top: -35px;
          width: 100%;
          height: 96px;
          background-color: white;
          z-index: 10;
      }
}